/**
*   TYPOGRAPHIE
*       Element  principaux
*       Menu navigation
*       Slider
*       Mes services
*
*
*
**/
/*
*
*   ELEMENT PRINCIPAUX
*
*/
@font-face
{
    font-family:'NotoSerif';
    src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#464646;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'NotoSerif';
    margin: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}
/*
*
*   Menu navigation
*
*/
#menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(50deg, black, white, black);
}

#thomasOrta {
    text-align: center;
    margin-bottom: 15px;
}

#thomasOrta h1 {
    margin-bottom: 0;
    font-size: 40px;
    text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
    color: #464646

}

#thomasOrta strong {
    font-size: 20px;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

}
#menuNavigation ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.fas {
    color: white;
}

#menuNavigation li{
    
    margin-right: 60px;
    font-size: 25px;
    font-weight: 100;
    color: #ffffff;
    text-shadow: #464646 1px 1px, #464646 -1px 1px, #464646 -1px -1px, #464646 1px -1px;
    border: 1px solid transparent;
}

#menu li:hover {
    border-bottom: 1px solid white;
}

#menuNavigation a {
    text-decoration: none;
    color: currentColor;
}

.sousMenu a {
    font-size: 15px;
}

.sousMenu li {
    display: flex;
    flex-direction: column;
}

ul .sousMenu {
    display: none;
    flex-direction: column;
}

ul .sousMenu:hover {
    display: block;
}

a {
    text-decoration: none;
}
/*
*   
*   SLIDER 
*
*/
#slider h2 {
    color: white;
    text-shadow: 1px 1px 2px rgb(115, 103, 82);
    font-size: 60px;
    font-weight: bolder;
}

#slider {
    width: 100%;
    height: 678px;
    margin: auto;
}

.slide{
    overflow: hidden;
    height: 678px;
    display: none;
}

.slideTitle {
    position: absolute;
    left: 20%;
    margin-top: 11%;
    width: 60%;
}

.slide img {
    width: 100%;
}

/*
*
*   SECTION MES SERVICES
*
*/
#myServices {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(45deg, white, transparent);
    margin-top: 30px;
}

#myServices article {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

#myServices h2 {
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.service {

    width: 100%;
    text-align: center;
}

.service h3 {
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-size: 25px;
}

hr {
    min-height: 400px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.service ul {
    list-style-type: none;
    text-align: left;
}

.service li {
    padding-bottom: 20px;
}

.service li::before {
    content: "•"; 
    color: red;
    margin-right: 5px;

}

.service p {
    text-align: justify;
}

#infoServices {
    text-align: center;
}
/*
*
*   SECTION PORTFOLIO
*
*/
#projects {
    width: 96%;
    border: black 2px solid;
    background-color: white;
    margin: 30px auto; 
}

#projects h2 {
    text-align: center;
}

#infoProjects {
    text-align: center;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portfolio figure {
    position: relative;
    margin: 1em;
    display: flex;
    width: 35%;
    border: 2px solid gold;
    border-radius: 10px;
}

#portfolio img {
    width: 100%;
    border-radius: 10px;
}

figcaption {
    position: absolute;
    width: 100%;
    height: 40%;
    display: block;
    background-color: #00000042;
    color: white;
    bottom: 0;
    visibility: hidden;
}

figure:hover figcaption {
    visibility: visible;
}

.fa-check-double {
    right: 10px;
    position: absolute;
    margin-top: -15px;
    color: white;
    border: 2px solid white;
    background-color: #48c663;
    border-radius: 50px;
    padding: 5px;
}

#portfolio h3 {
    font-size: 15px;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    margin-top: 15px;
}

#portfolio p {
    font-size: 15px;
    padding: 0;
    margin: 0;
    margin-left: 15px;
}
/**
*
*   adminLogin.php
*
*/
#formConnection {
    width: 70%;
    margin: auto;
    border-radius: 0px 30px 0 30px;;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color:  #B7C9F3;
}

.titleFormConnection {
    text-align: center;
}

#formConnectionContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

#formButton {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #90abea;
}
/*
*
*   ADMIN.PHP
*
*/
.blockAdmin {
    padding-bottom: 25px;
    border-bottom: 3px solid #B7C9F3;
}

.blockAdmin h3 {
    font-size: 25px;
    text-align: center;
}

#addPost, .fa-readme, .fa-keyboard, .fa-plus {
    color: green;
}
#addPost {
    margin-left: 10%;
}
.fa-plus {
    font-size: 20px;
    margin-left: 8px;
}

.welcomeAdmin {
    text-align: center;
}

.adminPage {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    padding-bottom: 15px;
}

.adminLink{
    color: black;
}
.buttonActionAdmin {
    min-width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.fab, .fas {
    font-size: 20px;
}

.fa-trash-alt {
    color: red;
}

.alertDelete {
    color: red;
}
.adminLinkDelete {
    color: orangered;
}

.adminLinkReport {
    color: red;
}

table {
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(86, 94, 204);
    color: white;
    font-size: 17px;
    overflow: hidden;
    font-weight: 500;
    }

table tr:hover {
    background-color:rgb(73, 169, 225);

}

.tableCommentHead{
    background-color: rgba(255,255,255,0.3);
}

.tableCommentContent{
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 18px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    overflow: hidden;
}