/**
*   TYPOGRAPHIE
*       Element  principaux
*       Menu navigation
*       Slider
*       Mes services
*
*
*
**/
/*
*
*   ELEMENT PRINCIPAUX
*
*/
@font-face
{
    font-family:'NotoSerif';
    src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#464646;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'NotoSerif';
    margin: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}
/*
*
*   Menu navigation
*
*/
header {
    align-items: center;
    background-image: linear-gradient(50deg, black, white, black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu {
    width: auto;
    height: 100px;
    display: flex;
    z-index: 20;
    
}

#menuNavigation {	
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: white;
    margin: auto;
    padding: 0;
    align-items: center;
    text-shadow: #464646 1px 1px, #464646 -1px 1px, #464646 -1px -1px, #464646 1px -1px;
}

.listMenu {	
    font-size: 20px;
    padding: 25px;
}

#menuAdmin {
    font-size: 20px;
}

#menuAdmin:hover > ul {
    background-color:white;
    padding: 5px;
    display: block;
}

.sousMenu {
    display: none;
    position: absolute;
    list-style-type: none;
    font-size: 15px;
}

.sousMenu a {
    font-size: 10px;
    z-index: 5;
}

#thomasOrta {
    text-align: center;
    width: 20%;
    animation: spinner 5s infinite;
    animation-delay: 5s;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
from { -webkit-transform: rotateY(0deg);    }
to   { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

#thomasOrta h1 {
    font-size: 30px;
    text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
    color: #464646

}

#thomasOrta strong {
    font-size: 20px;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

}

.fas {
    color: white;
}

#menuNavigation a {
    text-decoration: none;
    color: currentColor;
}

a {
    text-decoration: none;
    color: currentColor;
}
/*
*   
*   SLIDER 
*
*/
#slider h2 {
    color: white;
    text-shadow: 1px 1px 2px rgb(115, 103, 82);
    font-size: 60px;
    font-weight: bolder;
}

#slider {
    width: 100%;
    height: 678px;
    margin: auto;
}

.slide{
    overflow: hidden;
    height: 678px;
    display: none;
}

.slideTitle {
    position: absolute;
    left: 20%;
    margin-top: 11%;
    width: 60%;
    animation: slide 5s infinite; /* version simplifié*/
    animation-delay: 5s;
}

@keyframes slide {
    0%{ 
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-140%);
    }
}

@-webkit-keyframes slide {
    0%{ 
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@-moz-keyframes slide {
    0%{ 
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.slide img {
    width: 100%;
}

/*
*
*   SECTION MES SERVICES
*
*/
#myServices {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(45deg, white, transparent);
    margin-top: 30px;
}

#mission {
    font-size: 20px;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff5ee;
    margin: auto;
}

#myServices article {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#myServices h2, #myServices h2, #projects h2, #titleCVitae, #titleFormContat {
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.service {
    width: 250px;
    text-align: center;
}

.service h3 {
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-size: 25px;
}

hr {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.service ul {
    list-style-type: none;
    text-align: left;
}

.service li {
    padding-bottom: 20px;
}

.service li::before {
    content: "•"; 
    color: red;
    margin-right: 5px;

}

.service p {
    text-align: justify;
}

#infoServices {
    text-align: center;
}
/*
*
*   SECTION PORTFOLIO
*
*/
#projects {
    width: 96%;
    border: black 2px solid;
    background-color: white;
    margin: 30px auto; 
}

#projects h2 {
    text-align: center;
}

#infoProjects {
    text-align: center;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portfolio figure {
    position: relative;
    margin: 1em;
    display: flex;
    width: 35%;
    border: 2px solid gold;
    border-radius: 10px;
}

#portfolio img {
    width: 100%;
    border-radius: 10px;
}

figcaption {
    position: absolute;
    width: 100%;
    height: 40%;
    display: block;
    background-color: #00000042;
    color: white;
    bottom: 0;
    visibility: hidden;
}

figure:hover figcaption {
    visibility: visible;
}

.fa-check-double {
    right: 10px;
    position: absolute;
    margin-top: -15px;
    color: white;
    border: 2px solid white;
    background-color: #48c663;
    border-radius: 50px;
    padding: 5px;
}

#portfolio h3 {
    font-size: 15px;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    margin-top: 15px;
}

#portfolio p {
    font-size: 15px;
    padding: 0;
    margin: 0;
    margin-left: 15px;
}
/**
*
*   adminLogin.php
*
*/
#formConnection {
    width: 70%;
    margin: auto;
    border-radius: 0px 30px 0 30px;;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color:  #B7C9F3;
}

.titleFormConnection {
    text-align: center;
}

#formConnectionContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

#formButton {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #90abea;
}
/*
*
*   ADMIN.PHP
*
*/
.blockAdmin {
    padding-bottom: 25px;
    border-bottom: 3px solid #B7C9F3;
}

.blockAdmin h3 {
    font-size: 25px;
    text-align: center;
}

#addPost, .fa-readme, .fa-keyboard, .fa-plus {
    color: green;
}
#addPost {
    margin-left: 10%;
}
.fa-plus {
    font-size: 20px;
    margin-left: 8px;
}

.welcomeAdmin {
    text-align: center;
}

.adminPage {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    padding-bottom: 15px;
}

.adminLink{
    color: black;
}
.buttonActionAdmin {
    min-width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.fab, .fas {
    font-size: 20px;
}

.fa-trash-alt {
    color: red;
}

.alertDelete {
    color: red;
}
.adminLinkDelete {
    color: orangered;
}

.adminLinkReport {
    color: red;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(86, 94, 204);
    color: white;
    font-size: 17px;
    overflow: hidden;
    font-weight: 500;
}

.tableAdmin {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 8px;
}

.tableAdminTd {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    overflow: hidden;
}
/*
*
*   CV
*
*/
#cVitae {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    margin-bottom: 30px;
}

#infosMyCv {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    width: 30%;
}

#infosMyCv div {
    margin-left: 40px;
    margin-right: 40px;
}

#infosMyCv ul {
    padding: 0px;
}


#infosMyCv h4 {
    font-size: 20px;
}

.separatorCvInfos {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 69%;
    height: 1px;
}

.separatorCvTable {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 69%;
    height: 1px;
}

#banner {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
}

#titleBanner {
    text-shadow: unset;
    color: black;
    font-size: 40px;
}

#banner p {
    font-size: 25px;
}

#myCv {
    display: flex;
    position: relative;
    width: 60%;
    margin: auto;
}
#myPicture {
    position: relative;
    margin: 1em;
    display: flex;
    border: 2px solid gold;
    border-radius: 10px;
    z-index: 1;
}

#myPicture img {
    width: 100%;
    border-radius: 10px
}

#tables {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff;
}

.tableTraining, .tableExperience {
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

caption {
    font-size: 30px;
    text-align: start;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bolder;
}


table tr:hover {
    background-color:rgb(73, 169, 225);

}

.tableCommentHead{
    background-color: rgba(255,255,255,0.3);
}

.tableCommentContent{
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

.yearCity, .experienceCv {
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 18px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    overflow: hidden;
}

.trCv {
    width: 100%;
    display: flex;
}

.trCv:hover {
    width: 100%;
    display: flex;
    background-color: aliceblue;
}

.yearCity {
    width: 25%;
}

.yearCity p {
    font-size: 15px;
    margin: 0;
}

.experienceCv {
    width: 75%;
    text-align: start;
    font-size: 15px;
}

.experienceCv p {
    margin: 0px;
}

.experienceCv ul {
    margin-top: 0;
}
/*
*
*   CONTACT HOME
*
*/
.formContact, #formContact {
    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(50deg, black, white, black);
}

.titleFormContact {
    color: white;
    font-size: 35px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    text-align: center;
}

#formContactLink {
    border: 2px solid white;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*
*
*
*   formulaire 
*
*/
.form{
	padding:30px;
	width:50%;
	margin:0 auto;
	color:#fff;
	margin-top:30px;
	border:1px solid #FF9656;
	border-radius: 5px;
	background-color: #333;
}
.hedding-title{
	font-size:25px;
	text-align: center;
}
.hedding-title h1{
	margin:0px;
	color:#ff9656;
	font-weight: normal;
}
.hedding-description{
	text-align: center;
}
.form-input input,
.form-input textarea{
	width:100%;
	margin: 15px 0px;
	font-size:18px;
	font-family:"Barlow Semi Condensed",sans-serif;
	border-radius: 0px;
	border: 1px solid #c1c1c1;
}
.button{
	padding:8px 0px;
	width: 100%;
	margin-top:15px;
	background-color:#FF9656;
	border: none;
	color: #fff;
}
/*
*
*
*   displayPosts.php
*
*/
.posts {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    align-items: center;
    margin-top: 30px;
}

.titleService {
    font-size: 30px;
}

.titleTickets {
    background-color: #B7C9F3;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.titleTicket {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    font-size: 25px;
    text-align: center;
}


.contentPosts {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: white;
}

.postContent {
    margin-left: 30px;
    margin-right: 30px;
}
/*
*
*   WEATHER
*
*/
#forecast {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}
.input{
    text-align: center;
    margin-top: 20px;
}

#cityValue{
    height: 30px;
    width: 600px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
}

#button {
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.display {
    text-align: center;
}

.displayWeather {
    width: 50%;
    text-align: center;
    background-color: white;
    margin: 20px;
}

#imgWeather {
    background-color: rgb(105, 105, 105);
}
/*
*
*       displayPost.php
*
*/
.titleSection {
    margin-left: 15%;
}

#commentDisplay {
    width: 70%;
    margin: auto;
    border: 2px solid black;
    margin-bottom: 0px;
    background-color: white;
    margin-bottom: 5px;
}

#formAddComment {
    width: 70%;
    margin: auto;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: ghostwhite;
}

#formAddComment p {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

#citation {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    margin: auto;
    display: flex;
    width: 65%;
    margin-bottom: 20px;
    padding: 5px;
}

#formTitle {
    margin: 0;
    padding: 10px;
    background-color: #B7C9F3;
    color: black;
    font-size: 20px;
    text-align: center;
    
}

#formContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

.dateInfos {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    font-size: 14px;
    font-style: italic;
}

#submitComment {
    width: 60%;
    font-size: 15px;
    padding: 5px;
    margin: 20px;
    margin: auto;
    border-radius: 5px;
    background-color: #90abea;
}

#AllCommentDisplay {
    margin-bottom: 10px;
}

#commentAuthorContent {
    background-color: #B7C9F3;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

#commentAuthor {
    padding-left: 5%;
    
}

#commentAuthor strong {
    font-size: 15px;
}

#commentContent {
    padding-left: 5%;
    font-size: 15px;
}

#comment {
    width: 80%;
    height: 90px;
}

#actionComment {
    display: flex;
    justify-content: flex-end;
    background-color: aliceblue;
}

#actionComment p {
    padding-right: 10px;
}

#linkDeleteComment {
    color: black;
    margin-left : 10px;
}

#blocPagePost {
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    
}


#report {
    color: green;
}

#reportSignal {
    color:red;
}