# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

# Force https
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} !^localhost
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# URL accueil 
    RewriteRule ^accueil$  /index.php? [L]

# URL article showcase
    RewriteRule ^le-site-vitrine$  /index.php?objet=showcase [L]

# URL article integrator 
   RewriteRule ^integrateur-web$  /index.php?objet=integrator [L]

# URL article blog
   RewriteRule ^blog$  /index.php?objet=blog [L]

# URL article wordPress
    RewriteRule ^wordPress$  /index.php?objet=wordPress [L]

# URL article / id 
    RewriteRule ^article-([0-9]+)$  /index.php?objet=post&id=$1 [L]

# URL admin Login 
    RewriteRule ^login$  /index.php?objet=admin&action=login [L]   

# URL admin destroy 
    RewriteRule ^deconnecter$  /index.php?objet=admin&action=destroy [L]   

# URL add article 
    RewriteRule ^edition-article$  /index.php?objet=post&action=add [L]

# URL mod article 
    RewriteRule ^modifier-article-([0-9]+)$  /index.php?objet=post&action=update&id=$1 [L]

# URL del article 
    RewriteRule ^supprimer-article-([0-9]+)$  /index.php?objet=post&action=delete&id=$1 [L]

#URL mod comment 
    RewriteRule ^modifier-commentaire-([0-9]+)-de-article-([0-9]+)$  /index.php?objet=post&action=updateComment&id=$1&postId=$2 [L]

#URL repport comment 
    RewriteRule ^signaler-commentaire-([0-9]+)-de-article-([0-9]+)$  /index.php?objet=post&action=reportComment&id=$1&postId=$2 [L]

#URL del comment   
    RewriteRule ^supprimer-commentaire-([0-9]+)-de-article-([0-9]+)$ /index.php?objet=post&&action=deleteComment&id=$1&postId=$2 [L]

#URL formContact 
    RewriteRule ^formulaire-de-contact$ /index.php?objet=contact [L]

#URL mentions legales 
    RewriteRule ^mentions-legales$ /index.php?objet=mentionsLegales [L]

#URL protection des donnees 
    RewriteRule ^protection-des-donnees$ /index.php?objet=mentionsCookies [L]
